/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


ul li img.menu_icons {
    width: 20px !important;
    height: 20px !important;
}
.icon_bone {
    background-image: url(../img/hueso.png);
    height: 40px;
    width: 41%;
    position: relative;
    background-size: 60px;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-repeat: no-repeat;
}
#info_span {
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    width: 96%;
    padding: 2%;
}

#adv {
    display:none;
    font-size: 1rem;
    position: fixed;
    width: 90%;
    text-align: center;
    color: white;
    top: 0px;
    background-color: red;
    padding: 5%;
    z-index: 200000000000000;
}

#selectLogoUser {
    width: 80%;
    min-width: 200px;
    display: block;
    min-height: 40px;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    font-family: 'Source Sans Pro';
    margin-left: auto;
    margin-right: auto;
}
/*results y manufactures list*/
.colum-left img {
    width: 100%;
    max-height: 100%;
}

#prods .img {
    width: 30%;
    display: inline-block;
    float: left;
    box-shadow: none;
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #37BEAF;
    margin-right: 10px;
}

.name_manu {
    font-size: 1rem;
    color: #37BEAF !important;
    font-weight: 400;
}
.words_manu {
    font-size: 0.8rem;
}
/*--------------------*/
.menu_icons {
    width: 10px !important;
    height: auto !important;
    float: left;
    border: none !important;
    border-radius: 0px !important;
    margin-right: 10px !important;
    box-shadow: none !important;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
     /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
#content_loader_home {
    display: inline-block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 0.3);
    margin-top: 20px;
    padding: 4%;
    margin-left: -4%;
}
#content_loader_home span{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    color: rgb(35, 89, 81);
}
.loader_container {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 99999999999;
    background-color: rgba(145, 178, 172, 0.87);
      top: 0px;
}
.loader_container span{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    color: rgb(35, 89, 81);
}
.loader_inside {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}
/****************/
.manufacturesIMG_content {
    background-color:white;
    width: 70px;
    height: 70px;
    border-radius:50%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 0px 2px #37BEAF;
}
.manufacturesIMG {
    width: 148%;
    margin-left: -25%;
}

.manuData {
    color: rgb(103, 103, 103);
    float: left;
    font-size: 1rem;
    padding: 2%;
    text-align: left;
    margin-left: -2%;
    height: auto;
    width: 100%;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Source Sans Pro';
}
#manufacturesNAME {
}
/*********jquery autocomplete*****************/
#ui-id-1 {
    background-color: rgba(103, 103, 103, 0.94) !important;
    width: 90% !important;
    float: left !important;
    padding: 7% 5% !important;
    margin: 0px !important;
    position: absolute !important;
    top: 110px !important;
    list-style: none !important;
    left: 0px !important;
    color: rgb(153, 226, 207) !important;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    z-index: 90;
}
.ui-menu-item {
    border-bottom: solid 1px rgb(102, 215, 189);
    width: 87%;
    margin: 5px 0px;
    padding: 5px 0px;
    content: "";
    display: inline-block;
    width: 92%;
    text-align: justify;
    line-height: 1.2rem;
}
    .ui-menu-item span {
        margin: 5px 0px;
        padding: 5px 0px;
        width: 92%;
        text-align: justify;
        color: rgb(231, 231, 231);
        font-size: 1rem;
    }
    .ui-menu-item a {
        color: rgb(153, 226, 207) !important;
        text-decoration: none;
        width: 100%;
        display: inline-block;
    }
/***********************/
.div-inp {
    display: inline-block;
    padding: 5px 0px;
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                    
    font-family: 'Source Sans Pro';
    font-size:12px;
    height:100%;
    margin: 0px 0px 0px 0px;
    padding:0px;
    width:100%;
}
.body-img {
   background-image: url("../img/cover_pet_retail.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}
.cuerpo {
  background-color: rgba(51, 150, 139, 0.34);
  height: 100%;
  width: 100%;
  position: absolute;
}
.app {
text-align: center;
width: 100%;
position: fixed;
top: 10%;
}
.app img {
width: 100%;
min-width: 150px;
max-width: 500px;

}
.loader {
text-align: center;
position: fixed;
bottom: 25%;
width: 100%;
}

.loader img {
width: 30%;
  max-width: 100px;
}
.app-log{
  position: relative;
  margin-top: 10%;
   }
   .app-log img {
  width: 50%;
  min-width: 170px;
}
   .app-log {
   color:#fff;
     }
  .body-login {
  background-color: #5B5B5F;
   height: 100%;
   width: 100%;
  position: absolute;
  }
  .cont-forms{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 .cont-forms label {
  color: #fff;
  float: left;
  margin-left: 10%;
  font-weight: 100;
  font-size: 0.9rem;
}
 .cont-forms a {
  text-decoration: none !important;
  font-weight: 100;
    color: #fff;
}
.cont-forms p {
  margin-top: 30px;
  font-size: 0.9rem;
  margin-bottom: 4px;
  color: #fff;
  font-weight: 100;
}
.cont-forms span {
        color: #fff;
        font-size: 0.9rem;
    }
.enl-registro {
  text-decoration: underline;
}
   .campos {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px #fff;
  height: 20px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 1%;
}
   .boton-login{
  background-color: transparent;
  padding: 2% 10%;
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
}
#back {
  position: absolute;
  width: 14px;
  left: 15px;
  top: 15px;
  z-index: 9;
}
   .top01{
  margin-top: 15%;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    font-family: 'Source Sans Pro';
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/**home**/
.color-gray {
background-color: #DCDDDC;
}
.ctn-ppal { margin-bottom: 10%;}
.style-awe-img {
    width: 20px !important;
    float: right;
    margin-top: -7px;
    border-radius: 0px !important;
}
.Awesome {
    float: right;
    color: rgb(66, 192, 163);
    margin-left: 2px;
    margin-top: -10px;
    font-size: 15px;
}
#tittle-prod, #tittle-prod02, #tittle-prod1, #tittle-prod2{
  font-size: 13px;
  font-weight: 100;
     display: block;
  width: 72%;
  float: left;
}
.ctn-header{
  width: 98%;
  height: auto;
  background-color: #37BEAF;
  position: relative;
  text-align: center;
  padding: 3% 1%;
  position: fixed;
  z-index: 1000000;
  top: 0px;
}
.back-menu {
 width: 16%;
  background-image: url("../img/flecha.png");
  background-repeat: no-repeat;
  height: 40px;
  background-size: 80% 95%;
  float: left;
  margin-top: 2%;
}
.menu-app {
    width: 30px;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    height: 20px;
    background-size: 75% 100%;
    float: left;
    margin-left: 2%;
    position: absolute;
    margin-top: 8px;
}
.txt-product {
    background-color: #fff;
    padding: 2%;
    border-radius: 0 0 8px 8px;
    height: 25px;
    border-top: solid 1px rgb(176, 176, 176);
}
.product-div {
    border-radius: 8px;
    margin: 0.5%;
    width: 95%;
    float: left;
    box-shadow: 0px 0px 0px 0px rgb(163, 163, 163);
    margin-bottom: 10px;
    background-color: white;
}
.img_product{
  border-radius: 8px 8px 0px 0px;
}
.awesome-div {
  display: inline;
  width: 40px;
  float: right;
  margin-top: 10px;
  height: 30px;
  position: absolute;
  right: 10px;
}
.Span3 {
    height: 20px;
    overflow: hidden;
    display: inline-block;
    width: 80%;
    float: left;
    line-height: 23px;
    font-size: 13px;
}
.ctn-conte-page2 {
  width: 100%;
  height: auto;
  margin-bottom: 4em;
  position: absolute;
}
/***buscador **/

.buscador {
  width: 55%;
  min-width: 120px;
  display: inline-block;
  height: auto;
  margin-left: 10%;
}
#search {
    width: 96%;
    height: 30px;
    border-radius: 5px;
    background-color: #41A599;
    background-image: url(../img/bg-search.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 5px;
    max-width: 280px;
}
input:active, input:focus {
    background-image: none !important;
}
::-webkit-input-placeholder {
    color: rgba(169, 255, 241, 0.86);
    text-align: left;
     font-size: 1rem;
     font-weight:100;
     z-index: 999;
}
:-moz-placeholder { 
    color: rgba(169, 255, 241, 0.86);
    text-align: right;
     font-size: 0.9rem;
     font-weight:100;
    z-index: 999;
}
::-moz-placeholder { 
   color: rgba(169, 255, 241, 0.86);
    text-align: right;
     font-size: 0.9rem;
     font-weight:100;
    z-index: 999;
}
:-ms-input-placeholder { 
    color:    rgba(169, 255, 241, 0.86);
    text-align: right;
     font-size: 0.9rem;
     font-weight:100;
     z-index: 999;
}

/**********PAG RESULTS**************/
.div-log-search{
  width: 30%;
  min-width: 70px;
  float: right;
  display: inline-block;
}
.logo-emp-search {
width:100%;
}
.log-page {
    width: 15%;
    max-width: 62px;
    height: 30px;
    display: inline-block;
    right: 35px;
    float: right;
    position: absolute;
    top: 10px;
}
.buscar-page {
    width: 15%;
    max-width: 62px;
    height: 30px;
    display: inline-block;
    right: 70px;
    float: right;
    position: absolute;
    top: 10px;
}
.chat-page {
    width: 15%;
    max-width: 62px;
    height: 30px;
    display: inline-block;
    right: 0%;
    float: right;
    position: absolute;
    top: 10px;
}
.log-page img{
  width: 25px;
  height: 25px;
  margin-top: 8px;
}
.chat-page img {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.buscar-page img {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.ctn-conte-page {
  width: 100%;
  height: auto;  
  margin-bottom: 50px;
  margin: 2%;
  position: absolute;

}
.ctn-conte {
    margin-top: 50px;
    width: 92%;
    height: auto;
    margin-bottom: 4em;
    padding: 4%;
    position: absolute;
}
.colum-left {
  width: 49%;
  min-width: 135px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
}
.colum-left img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.colum-right {
 width: 50%;
  min-width: 130px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
}
.colum-right img {
     width: 100%;
}
.span-txt {
  font-size: 1.3rem;
  color: #fff;
  font-family: 'Source Sans Pro';
}
/*Suppliers List*/
.img-list {
width:30%;
float:left;
}
.img-list img {
width:100%;
}
.desc-list{
  width: 70%;
  min-width: 180px;
  float: left;
  margin-top: 15px;
}
.cant-prod {
  font-size: 0.6rem;
  float: right;
  margin-right: 10%;
}
.list-item{
   width: 100%;
  height: 110px;
  min-height: 80px;
  max-height: 300px;
  border-bottom: solid #17ac84;
}
.ti-desc {
    font-size: 2rem;
    color: #37BEAF;
    display: inline-block;
    border: none !important;
    padding: 0px !important;
    width: 100%;
    margin-bottom: 0px !important;
    font-weight: 300;
      margin-top: 0;
}
.txt-desc{
  display: block;
  margin-bottom: 3%;
}
/*welcome*/
.ctn-conte-wel {
  width: 100%;
  height: auto;
  margin-bottom: 4em;
  position: absolute;
    margin-top: 45px;
}
.colum-wel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
    .colum-wel img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 0px;
        display: inline-block;
    }
.enl-wel0 {
    color: #40C5B6;
    float: right;
    width: auto !important;
    padding: 0 !important;
    min-width: 0 !important;
}
.style-awe-desc {
    max-height: 30px;
    max-width: 20px;
    border-radius: 20%;
    margin-top: 3%;
}
.enl-wel0 span {
    font-size: 18px;
    width: 60%;
    vertical-align: top;
    line-height: 30px;
    font-weight: 400;
}
.enl-wel1 {
  width: 10%;
  max-width: 62px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  float: right;
}
 .enl-wel1 img {
  width: 70%;
  display: inline-block;
}
.enl-wel1 span {
    display: inline-block;
    vertical-align: top;
}
.enl-wel2 {
  background-color: #37BEAF;
  border-radius: 0;
  color: #fff;
  min-height: 35px;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  left: 0px;
  text-align: center !important;
  padding: 0px !important;
  margin: 0px !important;
  z-index: 99999;
}
.btn-welcome2{
  padding: 4px;
    font-size: large
}
.enl-wel3 {
background-color: #17ac84;
  padding: 1%;
  border-radius: 5px;
  color: #fff;
  float: left;
  width: 23% !important;
  font-size: 120% !important;
    min-height: 35px;
}
    .enl-wel3 img {
        width: 18%;
        max-width: 18px;
    }
    .enl-wel3 span {
        font-size: 0.8em;
        display: inline-block;
        vertical-align: top;
        margin-left: 0.1em;
        margin-top: 5%;
    }
.ul-welcome{
  padding: 2px;
  text-decoration: none;
  margin: 0;
  text-align: center;
}
    .ul-welcome li {
        text-decoration: none;
        display: inline-block;
        width: auto;
        margin: 1%;
        text-align: center;
        font-size: large;
        line-height: 170%;
        font-weight: 500;
        padding: 1% 9%;
    }
.conte-info {
    padding: 0% 4% 3% 4%;
    margin: 0px 0px;
}
    .conte-info p {
        padding: 5px 5px;
        border-radius: 5px;
        margin-bottom: 0px;
        font-family: 'Source Sans Pro';
        line-height: 30px;
          font-weight: 500;
    }
#productDESC {
    text-align: justify;
    font-size: larger !important;
    margin-top: 0 !important;
    margin-top: 0 !important;
    line-height: 20px;
    color: rgb(42, 42, 42);
    font-weight: 400;
}
.conte-info strong{
  display: block;
}
.wel-img-emp, .wel-img-map{
  width: 49%;
}
.info-txt {
    color: #4F81A0;
      font-size: 1.2rem;
}
.inf-mg {
    width: 98%;
    background-color: #E4E6E9;
    padding: 1%;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}
input:focus { 
    border: solid 1px #DFDFDF;
    -webkit-appearance: none;
}
input[type=search] {
    width: 100px;
    transition: ease-in-out, width .35s ease-in-out;
}
input:focus {
  outline: -webkit-focus-ring-color auto 3px;
  outline-width: 3px;
  border-radius: 4px !important;
  background-image: none;
}
#manufacturer_message_form{
  margin-top: -10px;
}
/****FILTRO*****/
.ctn-conte-filter {
    position: fixed;
    margin-top: 40px;
    width: 100%;
    z-index: 88;
    background-color: white;
    overflow: scroll;
    height: 100%;
}
.div-page-tittle{
  background-color: #5b5b5f;
  color: #fff;
  text-align: center;
  padding: 5% 2% 2% 0%;
}
.ti-pag{
  font-size: 1.5rem;
  position: relative;
  line-height: 32px;
  text-align: center;
  display: block;
}
.subti-page{
  float: right;
  font-size: 0.9rem;
}
.cont-filtro {
  padding: 8% 2%;
}
.filtro-ti-div {
  background-color: #aeadb3;
  padding: 2%;
}
.ti-filtro {
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
}
input[type=checkbox] + label {
  color: #545454;
  font-size: large;
  font-weight: 400;
}
input[type=checkbox]:checked + label {
    color: #37BEAF !important;
    font-style: normal;
    font-size: large;
    font-weight: 700;
}
.btn-filtro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 90px;
}
.txt-sent{
  color: #37BEAF;
  border: solid 2px #37BEAF;
  padding: 4px 20px;
  font-size: 1.1rem;
  border-radius: 6px;
}
.enl-fil {
  text-decoration: none;
}
/******REGISTER******/
.hr-01 {
  color: #37BEAF;
  border: solid 1px;
}
.div-register-tittle {
    background-color: #5b5b5f;
    color: #fff;
    padding: 5% 6% 4% 2%;
    font-weight: 100;
}
.ti-register {
    font-size: 1.3rem;
    color: #FFF;
    padding: 3%;
    font-weight: 400;
}
.reg-back {
    height: auto;
    float: left;
    width: 15%;
    max-width: 35px;
    z-index: 9;
    position: relative;
      min-height: 40px;
}
.reg-back img{
  width: 100%;
}
.register-info {
  width: 86%;
  margin: 0 0 15px 5px;
  font-size: 0.9rem;
}
.reg-select {
  padding: 2%;
}
.register-ti-div {
    background-color: #37BEAF;
    padding: 3%;
    border-bottom: antiquewhite;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    width: 94%;
    display: inline-block;
}
.register-select{
  padding: 4% 2%;
}
 .reg-select label{
  color: #A9A9A9;
  font-size: large;
}
input:active, input:focus {
    outline: none;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    transform-style: flat;
    -webkit-transform: scale(1.5);
}
input[type="checkbox"] {
    margin: 10px 10px !important;
    padding: initial;
    border: initial;
    float: right;
}
 input[type="checkbox"] + label span{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/check.png) left top no-repeat;
    cursor:pointer;
}
.select-retailer {
  float: right;
  margin-right: 5%;
  display: block;
  width: 90%;
  text-align: right;
  font-size: 0.9rem;
  margin-top: 0;
}
.reg-campos {
    width: 90%;
    min-width: 100px;
    margin-bottom: 10px;
    border: solid 2px #919191;
    height: 30px;
    color: #000;
    font-size: 1rem;
    padding: 1%;
    display: inline-block;
    float: left;
    border-radius: 5px !important;
}

.reg-lb {
    font-size: 1rem;
    font-weight: 200;
    display: inline-block;
    float: left;
    text-align: left;
    padding-right: 2%;
    line-height: 40px;
    width: 100%;
}

.div-reg-company{
  padding: 1%;
  background-color: white;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  border-radius: 10px;
}
.hr-gris {
  border: solid 4px #C0BFBF;
}
.confir-img {
  width: 80%;
}
.confir-img {
  width: 80%;
}
.reg-tex-s01 {
  color: #628299;
  margin: 0;
  font-size: 1rem;
}
.centere{
  text-align: center;
}
.reg-tex-s02{
  margin-top: 0;
  font-size: 1rem;
  color: #339642;
}
.confirm-msj {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.62);
    height: 100%;
    z-index: 999999999999;
    margin-top: 0px;
    width: 100%;
    top: 0px;
}
 /*Want to make contact*/
.conte-info input, .conte-info textarea {
    display: none;
}
.messageForm {
    position: fixed;
    display: inline-block;
    width: 92%;
    z-index: 999999999;
    top: -25px;
    background-color: rgba(0, 0, 0, 0.42);
    height: 100%;
    margin-top: 0px;
}
    .messageForm input, .messageForm textarea {
        display: inline-block !important;
        border-radius: 5px;
        border: solid 1px gray;
        width: 96%;
        height: 170px;
        outline: none;
        margin-left: 1%;
        font-family: Source Sans Pro;
    }
.form {
    background-color: rgb(234, 234, 234);
    width: 104%;
    display: inline-block;
    padding: 5% 2%;
    margin-left: -4%;
    margin-top: 25px;
}
    .messageForm {
        width:92%;
        padding:2% !important;
    }
.messageForm input[type=button] {
   background-color: #4F81A0;
   color: white;
   width: 40%;
   max-width: 160px;
   height: 30px;
   float: left;
   display: inline-block !important;
}
.con-btn {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-device-width: 360px) and (max-device-width: 520px) {
    .ul-welcome li {
          padding: 1% 11%;
    }
    
    .enl-wel0 {
        margin: 1% 5% 0% 2% !important;
        max-width: 14%;
    }
}
@media screen and (min-device-width: 520px) {
    #manufacturer_message_form {
        margin-top: 20px !important;
    }
    .ctn-conte-filter {
        margin-top: -15px !important;
    }
    .form {
        margin-top: -25px;
          padding: 2% 2%;
    }
    .btn-welcome2 {
        font-size: 1.2rem !important;
        line-height: 3rem !important;
    }
    .ul-welcome li {
        text-decoration: none;
        display: inline-block;
        width: auto;
        margin: 1%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 170%;
        font-weight: 400;
        padding: 1% 9%;
        min-width: 23%;
    }

    body {
        font-family: 'Source Sans Pro';
        font-size: 15px;
    }

    .conte-info p {
    }

    .Span3 {
        height: 20px;
        overflow: hidden;
        display: block;
        width: auto;
        float: left;
        line-height: 25px;
        font-size: 15px;
        max-width: 1000px;
        white-space: nowrap;
        padding-right: 15%;
    }

    .style-awe-img {
        width: 19px !important;
        margin-bottom: 2px;
        max-height: 40px !iMportant;
        margin-top: 0px;
    }

    .Awesome {
        font-size: 20px;
        margin-top: 0px;
        background-color: white;
    }

    .ctn-header {
        padding: 1% 1%;
    }
    #back {
        margin-left:-0% !important;
        z-index:9;
    }
    .txt-product {
        height: 30px;
        overflow-y: hidden;
    }
    .awesome-div {
        right: 16px;
        border-right: solid 20px white;
        height: 35px !important;
    }
    .boton-login {
        padding: 3% 10%  !important;
    }
    .cont-filtro {
        padding: 2% 2% !important;
    }
    .buscador {
        width: 60%;
    }
    #search {
        background-size: 230px;
        max-width: 1000px;
    }
    .awesome-div {
        margin-top: 0px;
        height: 18px;
        background-color: white;
    }
    .manuData {
        padding: 1% 2%;
    }
}
/**/
.Awesome {
    display:none;
}